@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --bg-dark: #0A0A0A;
    --accent-red: #E50914;
    --text-light: #FFFFFF;
    --text-gray: #BBBBBB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-dark);
    color: var(--text-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;
}

.login-container {
    background-color: rgba(255,255,255,0.05);
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
    text-align: center;
}

.logo {
    font-size: 2rem;
    color: var(--text-light);
    margin-bottom: 20px;
}

.logo span {
    color: var(--accent-red);
}

form h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.1);
    color: var(--text-light);
    font-size: 1rem;
}

input:focus {
    outline: none;
    border: 1px solid var(--accent-red);
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: var(--accent-red);
    border: none;
    border-radius: 5px;
    color: var(--text-light);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.btn a{
  text-decoration: none;
  color: #FFFFFF;
}

.btn:hover {
    background-color: #b00710;
}

.signup-text {
    margin-top: 15px;
    color: var(--text-gray);
}

.signup-text a {
    color: var(--accent-red);
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}

/* Responsive */
@media screen and (max-width: 480px) {
    .logo {
        font-size: 1.6rem;
    }
    form h2 {
        font-size: 1.3rem;
    }
    input, button {
        font-size: 0.95rem;
        padding: 10px;
    }
}
