/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --bg-dark: #0A0A0A;
    --accent-red: #E50914;
    --text-light: #FFFFFF;
    --text-gray: #BBBBBB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-light);
    font-family: 'Poppins', sans-serif;
    background-color: #0A0A0A;
    line-height: 2.6;

}

/* Navbar */

header {
    line-height: 1.6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background-color: rgba(0, 0, 0, 0.85);
    position: sticky;
    top: 0;
}

.logo {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--accent-red);
}

nav a {
    color: #FFFFFF;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s;


}

nav a:hover {
    color: #E50914;
}

.btn {
    background-color: var(--accent-red);
    color: var(--text-light);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #b20710;
}



.btn-outline {
    border: 2px solid var(--accent-red);
    color: var(--accent-red);
    padding: 8px 18px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
    transition: background 0.3s, color 0.3s;
}

.btn-outline:hover {
    background-color: #E50914;
    color: var(--text-light);
}


/* Selection titles */
.section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
    color: var(--accent-red);
}

/* Hero Section */

.hero {

    text-align: center;
    padding: 100px 8%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), var(--bg-dark));
}

.hero h1 {
    font-size: 3rem;

    font-weight: 600;
}

.hero h2 {

    font-size: 1.5rem;
    color: var(--accent-red);
    margin: 10px 0;

}

.hero p {

    max-width: 600px;
    margin: 20px auto;
    color: var(--text-gray);
}

/* Skils */

#skills {
    padding: 60px 8%;

}

.skills-grid {
    display: grid;
    Grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    text-align: center;

}

.skills-grid div {
    background-color: #ffffff0d;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.5s;
}

.skills-grid div:hover {
    transform: translateY(-5px);
    background-color: rgba(255, 255, 255, 0.08);

}

/* Projects */
#projects {

    padding: 60px 8%;

}

.probox {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
   
}

.project-card {

    text-align: center;
    background-color: #ffffff0d;
    border-radius: 5px;
    padding: 10px;
    margin: 30PX;

}

.project-card img {
    max-height: 100px;
    border-radius: 5px;
}

.project-card h3 {
    margin: 15px 0;
}

.project-card p {
    color: var(--text-gray);
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #000;
    color: var(--text-gray);
    font-size: 0.9rem;
}


/* Responsive */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav {
        margin: 10px 0;
    }

    .hero h1 {
        font-size: 2.5rem;
    }
}